.icon-wrap {
    position: relative;
    color: white;
}

.nav-badge {
    position: absolute;
    top: 15px;
    right: 8px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.navbar-toggler{
    background-color:white !important;
}