
.position-relative {
    position: relative;
  }
  
  .floating-menu {
    position: absolute;
    left: 80%;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 0;
    z-index: 1000;
  }

  @media screen and (max-width: 768px) {
    .floating-menu {
      position: absolute;
      left: 50%;
      width: 200px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 10px 0;
      z-index: 1000;
    }
  }
  .list-group{
    font-size: .8rem;
  }